

<suite name="Server tests">
  <test name="Server tests">
    <classes>
      <class name="jetbrains.buildServer.torrent.ServerTorrentsSeederTest"/>
      <class name="jetbrains.buildServer.torrent.TorrentTrackerConfiguratorTest"/>
      <class name="jetbrains.buildServer.torrent.UnusedTorrentFilesRemoverImplTest"/>
      <class name="jetbrains.buildServer.torrent.TorrentTrackerManagerTest"/>
      <class name="jetbrains.buildServer.torrent.web.TrackerControllerTest"/>
    </classes>
  </test>
</suite>