<suite name="Agent tests">
  <test name="Agent tests">
    <classes>
      <class name="jetbrains.buildServer.artifactsMirror.AgentTorrentsManagerTest"/>
      <class name="jetbrains.buildServer.artifactsMirror.TorrentTransportTest"/>
      <class name="jetbrains.buildServer.artifactsMirror.TorrentArtifactCacheListenerTest"/>
    </classes>
  </test>
</suite>