.tree-torrent-link {
  margin-left: 10px;

  opacity: 0.5;

  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -ms-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.tree-torrent-link:hover {
  opacity: 0.99;
}

.tree-torrent-icon {
  vertical-align: text-bottom;
}
