<component name="libraryTable">
  <library name="testng">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/testng/aopalliance-1.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/testng/bsh-2.0b4.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/testng/guice-2.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/testng/jcommander-1.27.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/testng/testng-6.8.8.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>