<suite name="Common tests">
  <test name="Common tests">
    <classes>
      <class name="jetbrains.buildServer.torrent.seeder.TorrentFilesDBTest"/>
      <class name="jetbrains.buildServer.torrent.seeder.TorrentsSeederTest"/>
      <class name="jetbrains.buildServer.torrent.util.StringUtilsTest"/>
      <class name="jetbrains.buildServer.torrent.torrent.TorrentUtilTest"/>
    </classes>
  </test>
</suite>